<mat-tab-group class="tabGroup" id="bestRated" (selectedTabChange)="tabClick($event)">
  <mat-tab label="1-20">
    <ng-template appAddTab></ng-template>
  </mat-tab>
  <mat-tab label="21-40">
    <ng-template appAddTab></ng-template>
  </mat-tab>
  <mat-tab label="41-60">
    <ng-template appAddTab></ng-template>
  </mat-tab>
  <mat-tab label="61-80">
    <ng-template appAddTab></ng-template>
  </mat-tab>
  <mat-tab label="81-100">
    <ng-template appAddTab></ng-template>
  </mat-tab>
</mat-tab-group>
