.footerWrapper {
    margin-top: 30px;
    background-color:rgba(255, 255, 255, 0.7);
    height: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    img {
        width: 80%;
        @media only screen and (min-width: 768px) {
            width: unset;
          }
    }
}