<div class="container" id="seriesSearch">
  <div class="formWrapper">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput (keyup)="inputListener($event)" placeholder="Tytuł serialu" formControlName="seriesTitle">
      </mat-form-field>
      <div>
        <button type="submit" color="primary" mat-raised-button [disabled]="!searchForm.valid">
          <mat-icon>search</mat-icon>Wyszukaj
        </button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="errorCondition" class="searchError">
  <mat-card>
    <mat-icon>error</mat-icon>Wpisz bardziej szczegółową nazwę !!!
  </mat-card>
</div>
<div *ngIf="loadingSeries" class="loader">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="warningCondition" class="noFiles">
  <mat-card>
    <mat-icon>warning</mat-icon>Brak znalezionych filmów
  </mat-card>
</div>
<div *ngIf="viewCondition" id='displayViev'>
  <app-view-wrapper [dataSourceTable]='dataSourceTable'>
  </app-view-wrapper>
</div>
<div *ngIf='showPremiere'>
  <app-premiere>
  </app-premiere>
</div>
<router-outlet></router-outlet>
