<div class="pageWrapper">
  <div>
    <mat-toolbar>
      <div class="menu">
        <ul>
          <li routerLink="/search" [routerLinkActive]="['active']">
            <mat-icon>search</mat-icon>Wyszukaj serial
          </li>
          <li  routerLink="/best-rated" [routerLinkActive]="['active']">
            <mat-icon>bar_chart</mat-icon>Najlepiej oceniane seriale
          </li>
          <li routerLink="/trends" [routerLinkActive]="['active']">
            <mat-icon>show_chart</mat-icon>Ostatnie trendy
          </li>
        </ul>
      </div>
      <div class="secondaryMenu">
        <ul>
          <li [routerLink]='[{ outlets: { bottomInfo: ["latest-serie"] } }]' [routerLinkActive]="['active']">
            <mat-icon>movie</mat-icon>najnowszy serial
          </li>
          <li [routerLink]='[{ outlets: { bottomInfo: ["top-rated-serie"] } }]' [routerLinkActive]="['active']">
            <mat-icon>star</mat-icon>najlepiej oceniony serial
          </li>
        </ul>
      </div>
      <div class="mobileMenu">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="metMenu" >
          <button mat-menu-item routerLink="/search" [routerLinkActive]="['isActiveMobile']">
            Wyszukaj serial
          </button>
          <button mat-menu-item routerLink="/best-rated" [routerLinkActive]="['isActiveMobile']">
            Najlepiej oceniane seriale
          </button>
          <button mat-menu-item routerLink="/trends" [routerLinkActive]="['isActiveMobile']">
            Ostatnie trendy
          </button>
          <div class="secondaryMobileMenu">
            <button mat-menu-item routerLink="/best-rated"[routerLink]='[{ outlets: { bottomInfo: ["latest-serie"] } }]' [routerLinkActive]="['isActiveMobile']">
              Najlepiej oceniane seriale
            </button>
            <button mat-menu-item [routerLink]='[{ outlets: { bottomInfo: ["top-rated-serie"] } }]' [routerLinkActive]="['isActiveMobile']">
              Ostatnie trendy
            </button>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar>

    <router-outlet class="test"></router-outlet>
    <router-outlet name='bottomInfo'></router-outlet>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>