<div class="detailWrapper" *ngIf="similarSeriesDisplay && !loading">
  <p><b>Premiera: </b>{{ premiere }}</p>
  <p><b>Liczba sezonów: </b>{{ numberOfSeasons }}</p>
  <p><b>Liczba odcinków: </b>{{ numberOfEpisodes }}</p>
  <p><b>Popularność: </b>{{ popularity }}</p>
  <p><b>Opis: </b>{{ overview }}</p>
  <p><b>Status: </b>{{ status }}</p>
  <p>
    <b>Producenci: </b>
    <span *ngFor="let producer of producers; let i = index">
      {{ producer.name }}<span *ngIf="i+1 <  producers.length">,</span>
    </span>
    <span *ngIf="0 >=  producers.length">
      Brak danych
    </span>       
  </p>
  <p>
    <b>Kraj pochodzenia: </b>
    <span *ngFor="let country of countryOfOrigin; let i = index">
      {{ country }}
      <span *ngIf="i+1 <  countryOfOrigin.length">,</span>
    </span>
    <span *ngIf="0 >=  countryOfOrigin.length">
      Brak danych
    </span>       
  </p>
  <p>
    <b>Getunek: </b>
    <span *ngFor="let genre of genres; let i = index">
      {{ genre.name }}<span *ngIf="i+1 < genres.length">,</span>
    </span>
    <span *ngIf="0 >=  genres.length">
      Brak danych
    </span>       
  </p>
  <p *ngIf="similarSeriesDisplay">
    <b>Podobne seriale: </b>
    <span *ngFor="let serie of similarSeries; let i = index">
      {{ serie.name }}<span *ngIf="i+1 < similarSeries.length">,</span>
    </span>
    <span *ngIf="0 >=  similarSeries.length">
      Brak danych
    </span>       
  </p>
  <p>
    <b>Linki do podobnych witryn: </b>
    <a target="_blank" href="{{filmwebLink + title}}">Filmweb</a>&nbsp;
    <a target="_blank" href="{{imdbLink + title}}">Imdb</a>
  </p>
  <p *ngIf="nextEpisodeDate">
      <b>Następny nowy odcinek za: </b>{{countDownTime}}
  </p>
</div>