.loader {
    margin-top: 20px;
    width: 100%;
    display: flex; 
    justify-content: center;
}

.table {
    width: 100%;
    .mat-table {       
        width: 100%;
        @media only screen and (min-width: 768px) {
            width: 80%
        }
        @media only screen and (min-width: 1200px) {
            width: 60%
        }
        margin: 5px auto 0 auto;
    }
}