<div *ngIf="!loading" class="cardWrapper">
  <mat-card>
    <mat-card-title>
      <div (click)='showDetails(id)' class="movieTitle">
        {{ serieDetails.name }}
      </div>
    </mat-card-title>
    <img mat-card-image src="{{fullUrl}}" alt={{serieDetails.name}}>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Opis
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{serieDetails.overview}}</p>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="loading" class="loader">
  <mat-spinner></mat-spinner>
  <mat-spinner></mat-spinner>
</div>
