<mat-tab-group class="tabGroup" id="bestRated" (selectedTabChange)="tabClick($event)">
  <mat-tab label="1-20">
    <app-best-rated-table [tab]=1 [actualTab]='actualTab'>
    </app-best-rated-table>
  </mat-tab>
  <mat-tab label="21-40">
    <app-best-rated-table [tab]=2 [actualTab]='actualTab'>
    </app-best-rated-table>
  </mat-tab>
  <mat-tab label="41-60">
    <app-best-rated-table [tab]=3 [actualTab]='actualTab'>
    </app-best-rated-table>
  </mat-tab>
  <mat-tab label="61-80">
    <app-best-rated-table [tab]=4 [actualTab]='actualTab'>
    </app-best-rated-table>
  </mat-tab>
  <mat-tab label="81-100">
    <app-best-rated-table [tab]=5 [actualTab]='actualTab'>
    </app-best-rated-table>
  </mat-tab>

</mat-tab-group>